
<div class="row mb-4">
  <div class="col-sm-3">
    <h2>ログイン</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row mb-3">
    <div class="form-label col-sm-3">
      <%= f.label :email do %>
        <span class="badge bg-danger">必須</span> メールアドレス
      <% end %>
    </div>
    <div class="col-sm-5">
      <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form-label col-sm-3">
      <%= f.label :password do %>
        <span class="badge bg-danger">必須</span> パスワード
      <% end %>
    </div>
    <div class="col-sm-5">
    <%= f.password_field :password, autocomplete: "current-password",  class:"form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= f.submit "ログイン", class:"btn btn-primary col-sm-4 offset-sm-3" %>
  </div>
<% end %>
