<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_with model:@list, url:lists_path do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">リスト新規作成</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.text_field :name, placeholder:"リスト名", class:"form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          <%= f.submit "保存する", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <h4 class="my-3">リスト一覧</h4>
</div>

<div class="row row-cols-md-3">
  <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="col">
      <div class="card border-secondary h-200p mb-3">
        <div class="card-body text-secondary">
          <h5 class="card-title"><i class="fas fa-plus"></i>　リスト新規作成</h5>
        </div>
      </div>
    </div>
  </a>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do  %>
      <div class="col">
        <div class="card bg-dark border-secondary text-white h-100 mb-3">
          <div class="position-relative">
            <% if list.spots.present? && list.spots[0].place_photo_reference_id.present? %>
                <%= image_tag place_photo(list.spots[0].place_photo_reference_id), class:"card-img", height:200 %>
                <span class="text-white-50 position-absolute bottom-0 end-0">photo by <%= list.spots[0].photographing_person_name %></span>
            <% else %>
              <%= image_tag 'no_image_place.jpg', class:"card-img", height:200 %>
            <% end %>
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title"><%= list.name %></h5>
            <p class="card-text"><%= list.spots.count %>件のスポット</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
