<div class="row">
  <div class="col-md-4 order-md-last">
    <% if @list.spots.present? %>
      <div id="map-sidebar"></div>
      <%= form_with url:calculate_list_directions_path(@list), method: :get do |f| %>
        <button class="btn btn-outline-primary" type="button" id="btn-get-place">現在地を取得</button>
        <%= f.search_field :departure_place , id:"autocomplete", class:"form-control", placeholder:"出発地を入力" %>
        <%= f.label "出発日時" %>
        <%= f.datetime_field :departure_datetime %>
        <div class="form-check form-switch">
          <%= f.check_box :avoid_tolls, class:"form-check-input" %>
          <%= f.label "有料道路を使わない", class:"form-check-label" %>
        </div>
        <div class="form-check form-switch">
          <%= f.check_box :avoid_highways, class:"form-check-input" %>
          <%= f.label "高速道路を使わない", class:"form-check-label" %>
        </div>
        <div class="form-check form-switch">
          <%= f.check_box :avoid_ferries, class:"form-check-input" %>
          <%= f.label "フェリーを使わない", class:"form-check-label" %>
        </div>
        <%= f.text_field :lat, id:"departure_lat", readonly: true, class:"form-control" %>
        <%= f.text_field :lng, id:"departure_lng", readonly: true, class:"form-control" %>
        <%= f.submit "所要時間を一括計算する", class:"btn btn-primary" %>
      <% end %>
      <script>
      let map, autocomplete, marker, infoWindow;
      let center = { lat: 35.680, lng: 139.767 };

      function initMap() {
        //マップの初期設定
        map = new google.maps.Map(document.getElementById("map-sidebar"), {
          center: center,
          zoom: 15,
        });
        infoWindow = new google.maps.InfoWindow();
        marker = new google.maps.Marker({
          position: center,
          map: map,
        });

        //現在地の取得
        const btnGetPlace = document.getElementById("btn-get-place");
        btnGetPlace.classList.add("custom-map-control-button");
        btnGetPlace.addEventListener("click", () => {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
              (position) => {
                let pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude,
                };
                marker.setMap(null);
                marker = new google.maps.Marker({
                  position: pos,
                  map: map,
                });
                map.setCenter(pos);
                $("#autocomplete").val(pos.lat + " " + pos.lng);
                $("#departure_lat").val(pos.lat);
                $("#departure_lng").val(pos.lng);
              },
              () => {
                handleLocationError(true, infoWindow, map.getCenter());
              }
            );
          } else {
            handleLocationError(false, infoWindow, map.getCenter());
          }
        });


        //オートコンプリート機能
        autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete'),
          {
            types: ['geocode','establishment'],
            componentRestrictions: {'country': ['jp']},
            fields: ['place_id', 'geometry', 'name']
          }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
      }

      //現在地取得のエラー処理
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
          browserHasGeolocation
            ? "Error: ジオロケーションサービスの利用に失敗しました."
            : "Error: あなたのブラウザはジオロケーションサービスに対応していません."
        );
        infoWindow.open(map);
      }

      //オートコンプリートで場所が選択された際の挙動
      function onPlaceChanged() {
        var place = autocomplete.getPlace();
        if(!place.geometry) {
          // User did not select a prediction; reset input field
          document.getElementById('autocomplete').placeholder = '出発地を入力';
        } else {
          let pos = place.geometry.location;
          marker.setMap(null);
          marker = new google.maps.Marker({
            position: pos,
            map: map,
          });
          map.setCenter(pos);
          $("#departure_lat").val(pos.lat);
          $("#departure_lng").val(pos.lng);
        }
      }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&libraries=places&callback=initMap"></script>
    <% end %>
  </div>
  <div class="col-md-8 p-3">
    <div class="row">
      <%= link_to lists_path, class:"btn btn-outline-secondary col-3 ms-3" do %>
        <i class="fas fa-arrow-left"></i>  リスト一覧へ戻る
      <% end %>
      <div class="btn-group offset-5 col-2 me-3">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          リストの設定 <i class="fas fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "編集する", edit_list_path(@list.id), class:"dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "削除する", list_path(@list.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"dropdown-item" %></li>
        </ul>
      </div>
    </div>
    <div class="card me-5 ms-2 my-3">
      <div class="card-body">
        <h2 class="card-title "><%= @list.name %></h2>
      </div>
    </div>
    <% @spots.each do |spot| %>
      <% @result = place_details(spot.place_id) %>
      <div class="card me-5 ms-2 my-3">
        <div class="row g-0">
          <div class="col-md-6 position-relative">
            <% if spot.place_photo_reference_id.present? %>
              <%= link_to spot.photographing_person_url, target: :_blank do %>
                <%= image_tag place_photo(spot.place_photo_reference_id), class:"card-img-top", height:300 %>
                <span class="text-white-50 position-absolute bottom-0 end-0">photo by <%= spot.photographing_person_name %></span>
              <% end %>
            <% else %>
              <%= image_tag 'no_image_place.jpg', class:"card-img-top", height:300 %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%= link_to spot.name, edit_spot_path(spot), class:"text-reset" %></h5>
              <p class="card-text"><small class="text-muted"><%= translate_place_types(@result[:result][:types]) %></small></p>
              <% @place_opening_status = judge_place_open(@result) %>
              <% if @place_opening_status[:color] == "green" %>
                <p class="card-text text-success">
                  <%= @place_opening_status[:status] %>
                  <br>
                  <%= @place_opening_status[:time] %>
                </p>
              <% elsif @place_opening_status[:color] == "red" %>
                <p class="card-text text-danger">
                  <%= @place_opening_status[:status] %>
                  <% if @place_opening_status[:time].present? %>
                    <br>
                    <%= @place_opening_status[:time] %>
                  <% end %>
                </p>
              <% end %>
              <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt"></i> <%= spot.formatted_address %></small></p>
              <%= link_to "Google Mapで見る", @result[:result][:url], class:"card-link", target: :_blank %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
