<!-- Modal -->
<div class="modal fade" id="editListName" tabindex="-1" aria-labelledby="editListNameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_with model:@list do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editListNameLabel">リスト名を変更</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.text_field :name, class:"form-control", placeholder:"リスト名を入力" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          <%= f.submit "保存する", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-4 order-md-last">
    <% if @list.spots.present? %>
      <%= render 'calc_sidebar', list:@list, param:@param %>
    <% end %>
  </div>
  <div class="col-md-8 p-3">
    <div class="row">
      <%= link_to list_path(@list), class:"btn btn-outline-secondary col-3 ms-3" do %>
        <i class="fas fa-arrow-left"></i>  戻る
      <% end %>
      <div class="btn-group offset-5 col-2 me-3">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          リストの設定 <i class="fas fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editListName">リスト名を変更する</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "リストを削除する", list_path(@list.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"dropdown-item" %></li>
        </ul>
      </div>
    </div>
    <div class="card me-5 ms-2 my-3">
      <div class="card-body">
        <h2 class="card-title "><%= @list.name %></h2>
      </div>
    </div>
    <ul class="nav nav-tabs" id="routeTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="route-driving-tab" data-bs-toggle="tab" href="#route-driving" role="tab" aria-controls="route-driving" aria-selected="true">
        <% if @driving_results_sort.present? %>
        <i class="fas fa-car"></i> 最速<%= @driving_results_sort[0][:routes][0][:legs][0][:duration][:text] %>
        <% else %>
        <i class="fas fa-car"></i> 該当なし
        <% end %>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="route-bicycling-tab" data-bs-toggle="tab" href="#route-bicycling" role="tab" aria-controls="route-bicycling" aria-selected="false">
        <% if @bicycling_results_sort.present? %>
        <i class="fas fa-biking"></i> 最速<%= @bicycling_results_sort[0][:routes][0][:legs][0][:duration][:text] %>
        <% else %>
        <i class="fas fa-biking"></i> 該当なし
        <% end %>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="route-walking-tab" data-bs-toggle="tab" href="#route-walking" role="tab" aria-controls="route-walking" aria-selected="false">
        <% if @walking_results_sort.present? %>
        <i class="fas fa-walking"></i> 最速<%= @walking_results_sort[0][:routes][0][:legs][0][:duration][:text] %>
        <% else %>
        <i class="fas fa-walking"></i> 該当なし
        <% end %>
        </a>
      </li>
    </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="route-driving" role="tabpanel" aria-labelledby="route-driving-tab">
      <% if @driving_results_sort.present? %>
        <% @driving_results_sort.each_with_index do |result, i| %>
        <%= render 'card', result:result, i:i, param:@param, mode:"driving" %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="route-bicycling" role="tabpanel" aria-labelledby="route-bicycling-tab">
      <% if @bicycling_results_sort.present? %>
        <% @bicycling_results_sort.each_with_index do |result, i| %>
        <%= render 'card', result:result, i:i, param:@param, mode:"bicycling" %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="route-walking" role="tabpanel" aria-labelledby="route-walking-tab">
      <% if @walking_results_sort.present? %>
        <% @walking_results_sort.each_with_index do |result, i| %>
        <%= render 'card', result:result, i:i, param:@param, mode:"walking" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
