      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <% if user_signed_in? %>
            <%= link_to "DOKOCHIKA", new_spot_path, class:"navbar-brand fs-2 far fa-compass text-info" %>
          <% elsif admin_admin_user_signed_in? %>
            <%= link_to "DOKOCHIKA", admin_users_path, class:"navbar-brand fs-2 far fa-compass text-info" %>
          <% else %>
            <%= link_to "DOKOCHIKA", root_path, class:"navbar-brand fs-2 far fa-compass text-info" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "行き先を登録", spots_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "リストを登録", lists_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">プランを作成する</a>
                </li>
              <% elsif admin_admin_user_signed_in? %>
                <li class="nav-item">
                  <%= link_to " ユーザー一覧", admin_users_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to " ログアウト", destroy_admin_admin_user_session_path, method: :delete, class:"nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to " 新規登録", new_user_registration_path, class:"nav-link fas fa-user-plus" %>
                </li>
                <li class="nav-item">
                  <%= link_to " ログイン", new_user_session_path, class:"nav-link fas fa-sign-in-alt" %>
                </li>
              <% end %>
            </ul>
            <div class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <% if current_user.profile_image.attached? %>
                  <%= image_tag current_user.profile_image.variant(resize:'50x50'), class:"rounded-circle" %>
                <% else %>
                  <div class="dropdown dropstart">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= image_tag 'no_image.png', size:'66x50', class:"rounded-circle" %>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li>
                        <%= link_to "マイページ", users_path, class:"dropdown-item" %>
                      </li>
                      <li>
                        <%= link_to "プロフィール編集", edit_users_path, class:"dropdown-item" %>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                        <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item fas fa-sign-out-alt" %>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
