<!DOCTYPE html>
<html>
  <head>
    <title>Dokochika</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/9f56765ddb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main class="mt-2">
      <div class="container">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </main>
    <footer class="bg-secondary py-5 mt-5">
      <h1 class="text-white text-center">DOKOCHIKA</h1>
      <p class="text-white text-center">DOKOCHIKAはあなたの行きやすい場所を案内してくれるアプリです！</p>
      <p class="text-white text-center">Copyright © 2021 ringo-panda. All Rights Reserved.</p>
      <p class="text-white-50 text-center">このアプリのスポット、及び経路情報はGoogleとそのユーザーによって提供されています。</p>
    </footer>
  </body>
</html>
