<!DOCTYPE html>
<html>
  <head>
    <title>Dokochika</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9f56765ddb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main class="mt-2">
      <div class="container">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
